:root {
  --variable-collection-primary-color: rgba(255, 191, 118, 1);
  --variable-collection-secondary-color: rgba(25, 26, 35, 1);
  --variable-collection-background-color: rgba(255, 250, 222, 1);
  --variable-collection-color: rgba(245, 242, 233, 1);
  --variable-collection-color-2: rgba(27, 42, 65, 1);
  --variable-collection-color-3: rgba(232, 154, 62, 1);
  --variable-collection-color-4: rgba(61, 69, 81, 1);
}
